html {
    height: 100%;
    font-family: sans-serif;
}
img {
    height: 92px;
    width: 272px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    text-align: center;
  display: block;
  margin: 0 auto;
}
body{
    
    margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 260px;
  font-size:10vw;
  height: 100%;
    
}
.top {
    text-align: right;
    margin: 20px;
}
.mid {
    margin-top: 35px;
}
input{
    width: 45%;
    height: 35px;
    padding: 0 5px 0 15px;
    margin: 10px; 
    border-radius: 20px;
    background-color: #f8f9fa;
    
}
.buttons{
margin: 15px 0px 20px 0;
text-align: center;
  display: block;
  margin: 0 auto;
  padding-left: 10px;

}
button{
padding: 5px;
border-radius: 5px;
margin-right: 20px;
background-color: #f8f9fa;
border: 1px solid #f8f9fa;
font-family: arial,sans-serif;
color: #3c4043;
font-size: 14px;
line-height: 27px;
height: 36px;
margin: auto;
text-align: center;
}
a {
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    font-size: small;
    
}
.signing{
border: 1px solid #4285f4;
font-weight: bold;
outline: none;
background: #4285f4;
background: -moz-linear-gradient(top,#4387fd,#4683ea);
color: white;
}
.atop{
    color: black;
}
.bottom{
    color: rgba(0,0,0,.54);
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid;
    padding: 1px;
    
}
h4{margin-left: 10px;}
#footnotes, #lastnotes{
    color:rgba(0,0,0,.54);

}
#footnotes {
    text-align: left;
    
}
#bantsLeft{
    
    color:rgba(0,0,0,.54);
    text-align: left;
    float: left;
    margin-inline: 20px;
}
#centerFooter{
    
    color:rgba(0,0,0,.54);
    text-align: center;
    float: left;
    margin-inline: 90px;
margin-left: 170px;}
#bantsRight{
    
    color:rgba(0,0,0,.54);
    text-align: end;
    align-content: flex-end;
    
    float: right;
    
   
}
.lastfoot{
    margin-right: 10px;
}
#lastnotes{
    text-align: right;
    margin-right: 30px;
}

section{
  align-self: center;
  margin: 30%, 0, 40%, 10%;
  width: 50%;
  margin-bottom: 280px;
  text-align: center;
  display: block;
  margin: 0 auto;
 
}
hr{
    color:  rgba(0,0,0,.54);
}
footer{
   background-color: #f2f2f2;;;
   padding: 20px;
   font-size: 15px;
   flex-shrink: 0;
box-sizing: border-box;
font-size: 14px;
font-family: arial,sans-serif;
color: #222;
bottom: 0;
padding-bottom: 30px;
width: 100%;
margin-top: 170px;

}
#Nigeria{
    color: rgba(0,0,0,.54);
}
.FooterStuff{
    
flex-wrap: wrap;
justify-content: space-between;

}
.offering{
    display: inline-block;
    line-height: 28px;
    font-size: small;
    text-align: justify;
}
.language{
   
    float: left;
    height: 50px;
    margin: 5px;
}
p{
    float: left;
    height: 50px;
    margin: 5px;
}
header{
    margin-bottom: 150pxS;
}
/* *{
    border: 1px solid red;
  } */